/* ☰ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
}

.container {
  width: 100%;
  height: 100vh;

  display: flex;
  grid-template-columns: auto 1fr;
}

.left-div-container {
  display: none;
}

.right-div-container {
  width: 100%;
  height: 100%;

  background: #fff;
}

.right-div-container .navi {
  width: 100%;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: #dfd9bf;
  color: #fff;
}

.navi h1 {
  text-shadow: #000 8px 10px 16px;
}

.navi ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navi ul li {
  margin: 0 20px;
  font-size: 16px;
  cursor: pointer;
}

.navi a {
  display: inline-block;
  text-decoration: none;
  padding: 15px;

  transition: 0.2s ease-in;
}

.navi a:not(.active) {
  color: #000;
}

.navi .active {
  color: white;
  background: #686452;
  border-radius: 10px;
}

.navi .a-link img {
  width: 17px;
  height: 17px;
  margin-right: 6px;
  margin-bottom: 5px;
  vertical-align: middle;
}

.navi a:hover {
  background: #686452;
  color: white !important;
  transition: 0.2s ease-out;
  transform: translateY(10px);
  border-radius: 10px;
  box-shadow: #686452 10px 10px 15px;
}

.home-page {
  width: auto;
  height: 100%;

  display: grid;
  grid-template-rows: auto auto;
  align-items: center;
  justify-content: center;

  background: beige;
}

.home-page h1,
p {
  text-align: center;
  margin: 50px;
  text-shadow: #000 2px 2px 16px;
}

.topic-page {
  width: auto;
  height: 100%;

  display: grid;
  grid-template-rows: auto 1fr;
  justify-content: center;
  align-items: center;

  background: beige;
}

.topic-top-title {
  width: 100%;
  height: 100%;
  margin-top: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.topic-bottom-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}

.option-one,
.option-two,
.option-three {
  background: #686452;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 30px;
  padding: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.option-one a,
.option-two a,
.option-three a {
  text-decoration: none;
  font-size: 24px;
  color: white;
  margin: 20px;
  text-align: center;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .left-div-container {
    width: 40%;
    height: 100%;

    display: grid;
    grid-template-rows: auto 1fr;
    align-items: stretch;
    justify-content: stretch;
    background: #686452;
  }

  .title-place {
    width: 100%;
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 8px;
    color: white;
    text-shadow: #000 8px 10px 16px;
  }

  .links-place {
    width: 100%;
    height: 100%;

    background: #dfd9bf;
  }

  .links-place ul {
    list-style: none;
    text-align: center;
  }

  .links-place ul li {
    margin: 40px 0;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
  }

  .links-place a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 8px;
    transition: 0.2s ease-in;
  }

  .links-place a:not(.active) {
    color: #000;
  }

  .active {
    color: white;
    background: #686452;
    border-radius: 5px;
  }

  .a-one img {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    margin-bottom: 5px;
    vertical-align: middle;
  }

  .links-place a:hover {
    background: #686452;
    color: white !important;
    transition: 0.2s ease-out;
    transform: translateX(10px);
    border-radius: 10px;
    box-shadow: #686452 10px 10px 15px;
  }

  .home-page {
    width: auto;
    height: 100%;

    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;

    background: beige;
  }

  .topic-page {
    width: auto;
    height: 100%;

    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;

    background: beige;
  }

  .topic-top-title {
    width: 100%;
    height: 70%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .topic-bottom-body {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .option-one,
  .option-two,
  .option-three {
    background: #686452;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 30px;
    margin-left: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .option-one a,
  .option-two a,
  .option-three a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    margin: 20px;
    text-align: center;
  }

  .right-div-container .navi {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1025px) {
  .topic-page {
    width: auto;
    height: 160vh;

    display: grid;
    grid-template-rows: repeat(1, 300px);
    align-items: center;
    justify-content: center;

    background: beige;
  }

  .topic-top-title {
    width: 100%;
    height: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .topic-bottom-body {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    align-items: center;
  }

  .option-one,
  .option-two,
  .option-three {
    background: #686452;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 30px;
    margin-left: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .option-one a,
  .option-two a,
  .option-three a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    margin: 20px;
    text-align: center;
  }
}
